window-rule {
    match app-id="^firefox$" title="Picture-in-Picture"
    open-floating true
    open-fullscreen false
    open-maximized false
    open-maximized-to-edges false
    default-window-height { proportion 0.100; }
    default-floating-position x=5 y=5 relative-to="top-right"
}
