
output "eDP-1" {
    // scale 0.9
}
environment {
    // GDK_DPI_SCALE "0.5"
    // QT_SCALE_FACTOR "0.9"
}

layer-rule {
    match namespace="^noctalia-"
    exclude namespace="^noctalia-(backdrop|wallpaper)$"

    background-effect {
        // blur false
        // xray false
    }

}

layout {
    gaps 4
    struts {
        left 5
        right 5
        top 3   // Adjust this value to change the gap under a top bar
        bottom 0
    }
    // focus-ring {
    //     width 1.5 // Толщина кольца фокуса
    // }
    // border {
    //     width 10
    // }
}
